﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterAfterLogin.master" AutoEventWireup="true" CodeFile="Escalation.aspx.cs" Inherits="Escalation" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

   
 <div class="row">
        <div class="col-md-12 text-center search-text  ">
            Escalation Details
        </div>
    </div>
    <div class="row ">
        <div class="col-md-10" style="margin-left: 8%;">
  
  <table style="border:1px solid #999;width:100%;text-align: center;color: black;" cellpadding="10" cellspacing="0">
     <tbody><tr style="background-color: rgb(244,244,244);">
	    <td style="border-bottom:1px solid #999">DEPARTMENT</td>
	<!--	<td style="border-bottom:1px solid #999">NAMES</td>-->
		<td style="border-bottom:1px solid #999">RESPONSIBILITES</td>
		<td style="border-bottom:1px solid #999">LAND LINE</td>
		<td style="border-bottom:1px solid #999">MOBILE</td>
		<td style="border-bottom:1px solid #999">EMAILID</td>
	 </tr>
	 <tr>
	    <td style="border-bottom:1px solid #999">TICKETING DEPTT.</td>
		<!--<td style="border-bottom:1px solid #999">-</td>-->
		<td style="border-bottom:1px solid #999">DOMESTIC BOOKING- GDS</td>
		<td style="border-bottom:1px solid #999">47677727</td>
		<td style="border-bottom:1px solid #999">9990148222</td>
		<td style="border-bottom:1px solid #999">dom@Travelvilla.com</td>
	 </tr>
	 <tr>
	    <td style="border-bottom:1px solid #999">-</td>
		<!--<td style="border-bottom:1px solid #999">JYOTI</td>-->
		<td style="border-bottom:1px solid #999">INTERNATIONAL BOOKING</td>
		<td style="border-bottom:1px solid #999">47677783</td>
		<td style="border-bottom:1px solid #999">9990461222</td>
		<td style="border-bottom:1px solid #999">intl@Travelvilla.com</td>
	 </tr>
	 <tr>
	  <td style="border-bottom:1px solid #999">-</td>
	    <td style="border-bottom:1px solid #999">IMRAN</td>
		<!--<td style="border-bottom:1px solid #999">INTERNATIONAL BOOKING</td>-->
		<td style="border-bottom:1px solid #999">47677778</td>
		<td style="border-bottom:1px solid #999">9990128222</td>
		<td style="border-bottom:1px solid #999">intl@Travelvilla.com</td>
	 </tr>
	 <tr>
	    <td style="border-bottom:1px solid #999"></td>
		<!--<td style="border-bottom:1px solid #999"></td>-->
		<td style="border-bottom:1px solid #999">GROUPS BOOKING</td>
		<td style="border-bottom:1px solid #999">47677721</td>
		<td style="border-bottom:1px solid #999">9718037222</td>
		<td style="border-bottom:1px solid #999">groupdesk@Travelvilla.com</td>
	 </tr>
	 <tr>
	    <td style="border-bottom:1px solid #999">-</td>
		<!--<td style="border-bottom:1px solid #999">GAURAV</td>-->
		<td style="border-bottom:1px solid #999">CANCELLATION</td>
		<td style="border-bottom:1px solid #999">47677779</td>
		<td style="border-bottom:1px solid #999">9718053222</td>
		<td style="border-bottom:1px solid #999">cancellation@Travelvilla.com</td>
	 </tr>
	 <tr>
	    <td>-</td>
	    <!--<td>NIZAM</td>-->
		<td>PACKAGES</td>
		<td>47677703</td>
		<td>9718139222</td>
		<td>packages@Travelvilla.com, holidays@Travelvilla.com</td>
	 </tr>
	 
	 <tr>
	    <td style="border-bottom:1px solid #999">FOR NIGHT SHIFT</td>
		<!--<td style="border-bottom:1px solid #999">SHUBHAM</td>-->
		<td style="border-bottom:1px solid #999">INTERNATIONAL BOOKING</td>
		<td style="border-bottom:1px solid #999">47677724</td>
		<td style="border-bottom:1px solid #999">9718069222</td>
		<td style="border-bottom:1px solid #999">sevenseaztravelz@gmail.com</td>
	 </tr>
	 <tr>
	    <td style="border-bottom:1px solid #999">FOR NIGHT SHIFT</td>
		<!--<td style="border-bottom:1px solid #999">DEEPAK</td>-->
		<td style="border-bottom:1px solid #999">DOMESTIC BOOKING</td>
		<td style="border-bottom:1px solid #999">47677723</td>
		<td style="border-bottom:1px solid #999">-</td>
		<td style="border-bottom:1px solid #999">dom@Travelvilla.com</td>
	 </tr>
	 <tr>
	    <td style="border-bottom:1px solid #999">FOR NIGHT SHIFT</td>
		<!--<td style="border-bottom:1px solid #999">ASHUTOSH</td>-->
		<td style="border-bottom:1px solid #999">CANCELLATION</td>
		<td style="border-bottom:1px solid #999">47677741</td>
		<td style="border-bottom:1px solid #999">-</td>
		<td style="border-bottom:1px solid #999">cancellation@Travelvilla.com</td>
	 </tr>
	 <tr>
	    <td style="border-bottom:1px solid #999">ESCALATION</td>
		<!--<td style="border-bottom:1px solid #999">MS. NIDA</td>-->
		<td style="border-bottom:1px solid #999">OPERATION - HEAD</td>
		<td style="border-bottom:1px solid #999">47677729</td>
		<td style="border-bottom:1px solid #999">9718169222</td>
		<td style="border-bottom:1px solid #999">nida@Travelvilla.com</td>
	 </tr>
	 <tr>
	    <td style="border-bottom:1px solid #999">ACCOUNTS</td>
		<!--<td style="border-bottom:1px solid #999">MR. RAJESH</td>-->
		<td style="border-bottom:1px solid #999">ACCOUNTS - HEAD</td>
		<td style="border-bottom:1px solid #999">47677769</td>
		<td style="border-bottom:1px solid #999">9718016222</td>
		<td style="border-bottom:1px solid #999">accountsouthex@Travelvilla.com</td>
	 </tr>
	 <tr>
	    <td style="border-bottom:1px solid #999">-</td>
		<!--<td style="border-bottom:1px solid #999">MR. SAM</td>-->
		<td style="border-bottom:1px solid #999">PROCESS REFUND</td>
		<td style="border-bottom:1px solid #999">47677730</td>
		<td style="border-bottom:1px solid #999">9999234236</td>
		<td style="border-bottom:1px solid #999">accounts@Travelvilla.com</td>
	 </tr>
	 <tr>
	    <td style="border-bottom:1px solid #999">-</td>
		<!--<td style="border-bottom:1px solid #999">MR. MANISH</td>-->
		<td style="border-bottom:1px solid #999">PROCESS COMMISSION</td>
		<td style="border-bottom:1px solid #999">47677733</td>
		<td style="border-bottom:1px solid #999">8802922416</td>
		<td style="border-bottom:1px solid #999">refunds@Travelvilla.com</td>
	 </tr>
	 <tr>
	    <td style="border-bottom:1px solid #999">-</td>
		<!--<td style="border-bottom:1px solid #999">MR. TARAN</td>-->
		<td style="border-bottom:1px solid #999">PAYMENT UPLOAD</td>
		<td style="border-bottom:1px solid #999">47677772</td>
		<td style="border-bottom:1px solid #999">9899472923</td>
		<td style="border-bottom:1px solid #999">upload@Travelvilla.com</td>
	 </tr>
	 <tr>
	    <td style="border-bottom:1px solid #999">TECHNICAL ASSISTANCE</td>
		<!--<td style="border-bottom:1px solid #999">MR. SUBHASH</td>-->
		<td style="border-bottom:1px solid #999">IT- HEAD &amp; DISTRIBUTION CHANNEL</td>
		<td style="border-bottom:1px solid #999">47677755</td>
		<td style="border-bottom:1px solid #999">9540222666</td>
		<td style="border-bottom:1px solid #999">subhash@Travelvilla.com</td>
	 </tr>
	 <tr>
	    <td style="border-bottom:1px solid #999">-</td>
		<!--<td style="border-bottom:1px solid #999">MR. SUNIL</td>-->
		<td style="border-bottom:1px solid #999">SALES DEMO</td>
		<td style="border-bottom:1px solid #999">47677756</td>
		<td style="border-bottom:1px solid #999">9718050222</td>
		<td style="border-bottom:1px solid #999">sales@Travelvilla.com</td>
	 </tr>
	 
  </tbody></table>
  <%--<p><b style="color:red;">FOR QUEUE PNR GDS ID</b></p>
  <p>AMADEUS: DELVS36CK</p>
  <p>Travelvilla: 00V/90 + 92</p>
  <p>ABACUS: 6A9D</p>--%>
  
</div>
  
</div>
</asp:Content>

