﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="faq.aspx.vb" Inherits="faq" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
       <div class="container">
        <div class="row">
            <div class="col-md-12 aboutus">
                <div class="sectionHeader">
                    <span class="header ver2">
                        <em>About Us</em>
                    </span>

                    <p>Whether traveling , participating in a business seminar, or just venturing away from home, you need 24-hour coverage and assistance. TravelVilla offers insurance plans designed to cover travelers worldwide. Plans can include valuable medical coverage, trip interruption, emergency travel services and more. Let us find the right coverage for you. Simply click on the "Compare Plans" button above for a travel insurance quote.
                    </p>

                    <h2>Why buy travel insurance through TravelVilla.?</h2>
                    <p>With travel insurance through TravelVilla you'll have valuable coverage that travels with you and your family. We're India leading provider of travel insurance plans and assistance programs and we're here to help you 24 hours a day, 7 days a week.</p>
                    <P>How can my travel insurance plan cover my vacation investment in the event of a hurricane or other unforeseen severe weather? Travel insurance plans offered by TravelVilla provide you with insurance coverage for your travel investment if unforeseen weather conditions cause a delay or cancellation of your trip. If the weather or other covered reason forces you to cancel your trip, you can be reimbursed for your nonrefundable expenses, up to the amount of coverage you purchase. If bad weather or other covered reasons delay your trip you can be reimbursed for reasonable, additional accommodations and traveling expenses until travel is possible.</P>
                    <h2>What would you do?</h2>
                    <p>You're involved in an accident while on a summer trip to Europe with your family and adequate medical treatment is not available. Who will help arrange and pay for a medical evacuation? With travel insurance coverage through TravelVilla , you can be prepared. Plans can include coverage for medical expenses, trip interruption and more and include emergency travel services so you can be sure that TravelVilla has an insurance plan that meets your traveling needs. We're here to help you and your family 24 hours a day. Click here for more real life situations where TravelVilla may assist you. Certain restrictions apply. -</p>
                </div>
                </div>
            </div>
           </div>
</asp:Content>

