﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="PopUpSignIn.aspx.vb" Inherits="PopUpSignIn" %>


<%@ Register Src="~/UserControl/LoginControl.ascx" TagPrefix="UC1" TagName="Login" %>
<%@ Register Src="~/UserControl/IssueTrack.ascx" TagName="Holiday" TagPrefix="ucholiday" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
       <div class="col-md-12">                   
                             <UC1:Login ID="uc" runat="server" CssClass="" style="width:100%;"  />                      
                        </div>
    </div>
    </form>
</body>
</html>
