﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="privacy.aspx.vb" Inherits="privacy" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="container">
        <br />
        <br />

        <a href="../Home.aspx" class="btn btn-danger">Back to Home</a>


        <div class="row">
            <div class="col-md-12 aboutus">



                <div class="sectionHeader">
                    <span class="header ver2">
                        <em>Privacy Policy</em>

                    </span>

                </div>


                 
                <p>TravelVilla. (Travelvilla.com) respects your privacy and recognizes the need to protect the personally identifiable information (any information by which you can be identified, such as name, address, and telephone number) you share with us. We assure you that we follow appropriate standards when it comes to protecting your privacy on our web portal.</p>
                <p> In general, you can visit our website without telling us or without revealing any personal information about yourself. We track the Internet address of the domains from which people visit our website and analyze these data for trends and statistics, but the individual user remains anonymous.</p>
                 
                <p> Some of our website pages use "cookies" so that we can serve you best customized information when you return to our site. Cookies are identifiers which a web site can send to your browser to keep on your computer to facilitate your next visit to our site. You can set your browser to notify you when you sent a cookie, its giving you the option to decide whether you accept it or not.  All the information we collect and analyze is used to improve our service to you.</p>

                <p>  There are times when we may collect personal information from you such as name, address or telephone number. It is our intent to inform you before we do that and to tell you what we intend to do with the information. Generally, you will have the option not to provide the information, and in the future you will be able to "opt out" of certain uses of the information. If you don’t want to provide information, you can still visit the TravelVilla. website, but you may be unable to access certain options, offers and services.</p>
                <p>  TravelVilla. will not sell, trade or disclose to third parties any information comes from the registration for, or use of, any online service (including names and addresses) without the consent of the user or customer (except as required by subpoena, search warrant, or other legal process or in the case of imminent physical harm to the user or others). TravelVilla.  will provide suppliers to access the information for purposes of confirming your registration and providing you with benefits you are entitled to.</p>
                <p>  TravelVilla. will take some appropriate steps, that will protect the information which you have share with us. We have implemented modern technology and security features and strict policy guidelines to safeguard the privacy of your personally identifiable information from unauthorized access and improper use or disclosure. TravelVilla. will continue to enhance our security procedures as new technology becomes available.</p>
                <p> When you register with TravelVilla., we will contact you from time to time provide information’s about offers, products/services, packages, etc that we believe may benefit you. To know more about Travelvilla.com, you can email us on: info@Travelvilla.com</p>
               

            </div>
        </div>
    </div>
</asp:Content>

