﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="test1.aspx.cs" Inherits="test1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <%--<div id="m_-1001508766848232612body_style">--%>
                <div>
                <%--<table class="m_-1001508766848232612table" border="0" width="602" cellspacing="0" cellpadding="0" align="center">--%>
                    <table  border="0" width="602" cellspacing="0" cellpadding="0" align="center">
                    <tbody>
                        <tr>
                            <td valign="top" bgcolor="#ffffff">
                                <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td style="line-height: 0px;" valign="top">
                                                <img src="http://Travelvilla.com/images/logo.png" alt="" width="30%" border="0" class="CToWUd"></td>
                                        </tr>
                                        <tr>
                                            <td valign="top">
                                                <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                                                    <tbody>
                                                        <tr>
                                                            <td width="3%">&nbsp;</td>
                                                            <td width="94%">
                                                                <table style="font-family: Arial; font-size: 14px; color: #000000; background-color: #fff" border="0" width="100%" cellspacing="0" cellpadding="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="font-family: Arial; font-size: 14px; color: #004a8f" align="center">&nbsp;</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="font-family: Arial; font-size: 14px; color: #000000; line-height: 18px">Dear Customer,
                                                                                <br/>
                                                                                <br/>
                                                                                This is to inform you that an amount of Rs.16,000.00 has been debited from your Travelvilla wallet account No. XXXX9699 on  account of an online payment transaction done using IRCTC Online  Ticket Booking .
                                                                               <br/>
                                                                               <br/>
                                                                                For more details on the transaction, please call Travelvilla Customer Care. For any queries E-mail 
                                                                               <br/>
                                                                               <br/>
                                                                                Regards,
                                                                               <br/>
                                                                                HDFC Bank
                                                                               <br/>
                                                                               <br/>
                                                                                (This is a system Generated Mail and should not be replied to)</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="25">&nbsp;</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="3%">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="yj6qo"></div>
                <div class="adL">
                </div>
            </div>
        </div>
    </form>
</body>
</html>
