﻿
/* ALL HEADERS */
@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
    /*font-family: 'Raleway' !important;*/
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

.menu-toggle, .mobile-nav {
    display: none;
}

    .menu-toggle:hover {
        cursor: pointer;
    }





.navigation ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    /*position: relative;*/
    /*top: 24px;*/
}

.navigation li {
    display: inline-block;
    padding: 30px 15px;
}

.navigation a:hover {
    border-bottom: 2px solid #ee3157;
}


/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* CONTAINER */

/*.container{
	max-width: 940px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}*/

/* HEADER WRAP ONE */

.header-wrap-one {
    background-color: #434552;
    color: #fff;
}

    .header-wrap-one a {
        color: #fff;
    }

    .header-wrap-one .logo {
        float: left;
    }

    .header-wrap-one .navigation, .header-wrap-one .menu-toggle {
        text-align: right;
    }

    .header-wrap-one .menu-toggle {
        padding: 30px 0;
    }

/* HEADER WRAP TWO */

.header-wrap-two {
    background-color: #fff;
}

    .header-wrap-two, .header-wrap-two a {
        color: #434552;
    }

.three {
    width: 23.8%;
}

.six {
    width: 49.2%;
}

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

    .col:first-of-type {
        margin-left: 0;
    }

.header-wrap-two .navigation {
    text-align: center;
}

.header-wrap-two .icons {
    padding: 20px 0;
    text-align: right;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-twitter-square {
    color: #55ACEE;
}

.fa-linkedin-square {
    color: #007bb5;
}

/* HEADER WRAP THREE */

.header-wrap-three {
    background-color: #434552;
    color: #fff;
}

    .header-wrap-three a {
        color: #fff;
    }

    .header-wrap-three .navigation {
        text-align: center;
    }

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

    .col:first-of-type {
        margin-left: 0;
    }

.four {
    width: 32.26%;
}

.header-wrap-three .logo {
    margin: 0;
    padding: 8px 0;
}

.header-wrap-three .icons .fa:first-of-type {
    padding-left: 0;
}

.header-wrap-three .first-col {
    text-align: left;
}

.header-wrap-three .second-col {
    text-align: center;
}

.header-wrap-three .third-col {
    text-align: right;
}

.header-wrap-three .icons {
    padding: 8px 0;
}

    .header-wrap-three .icons .fa {
        padding: 0 10px;
    }

.header-wrap-three .menu-toggle {
    padding: 10px 0;
}

/* HEADER WRAP FOUR */

.header-wrap-four {
    background-color: #fff;
}

    .header-wrap-four .header-top {
        background-color: #000;
        color: #fff;
        height: 28px;
    }

    .header-wrap-four .header-bottom, .header-wrap-four .header-bottom a {
        color: #434552;
        font-size: 14px;
    }

    /*.header-wrap-four .icons {
                padding: 8px 0;
            }*/

    .header-wrap-four .icons .fa {
        padding: 0 10px;
    }

        .header-wrap-four .icons .fa:first-of-type {
            padding-left: 0;
        }

    .header-wrap-four .logo {
        float: left;
    }

    .header-wrap-four .navigation, .header-wrap-four .menu-toggle {
        text-align: right;
    }

    .header-wrap-four .menu-toggle {
        padding: 30px 0;
    }

/* HEADER WRAP FIVE */

.header-wrap-five {
    background-color: #fff;
}

    .header-wrap-five .header-top {
        background-color: #434552;
        color: #fff;
    }

    .header-wrap-five .logo {
        float: right;
    }

    .header-wrap-five .navigation {
        float: left;
    }

        .header-wrap-five .navigation li:first-of-type {
            padding-left: 0;
        }

    .header-wrap-five .header-bottom, .header-wrap-five .header-bottom a {
        color: #434552;
    }

    .header-wrap-five .icons {
        padding: 8px 0;
        display: inline-block;
    }

    .header-wrap-five .shopping-icons {
        float: right;
    }

        .header-wrap-five .shopping-icons .fa:last-of-type {
            padding-right: 0;
        }

    .header-wrap-five .icons .fa {
        padding: 0 10px;
        color: #32a8e6;
    }

        .header-wrap-five .icons .fa:first-of-type {
            padding-left: 0;
        }

    .header-wrap-five .menu-toggle {
        padding: 30px 0;
    }

/* RESPONSIVENESS */

@media screen and (max-width: 940px) {
    .container {
        width: 95%;
    }
}

@media screen and (max-width: 799px) {
    .navigation {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .mobile-nav {
        background-color: inherit;
        height: 100%;
        width: 100%;
        min-width: 100%;
        margin: 30px 0;
        display: none;
        transition: all 0.2s ease-in-out;
    }

        .mobile-nav ul {
            padding-left: 0;
            margin: 0;
            list-style-type: none;
        }

        .mobile-nav li {
            display: block;
            text-align: center;
            padding: 10px 0;
        }

    /*HEADER WRAP THREE*/
    .icons-hide {
        display: none;
    }

    .icons-responsive {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .three, .four, .six {
        width: 100%;
        display: block;
        text-align: center;
    }

        .three .icons {
            text-align: center;
        }

    .col {
        float: none;
    }
}





.flex.justify-between {
    justify-content: space-between;
}

.align-items-baseline {
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    -webkit-box-align: baseline;
    align-items: baseline;
}

.flex {
    display: flex;
}

.u_borderBottom {
    border-bottom: 1px solid #d4dee5;
}

.u_borderTop {
    border-top: 1px solid #d4dee5;
}

.u_textC {
    text-align: center;
}

.u_bgViaLightGrey {
    background: #F6F9FC !important;
}

.u_posR {
    position: relative;
}

.u_width28 {
    width: 28%;
}

.u_inlineblk {
    display: inline-block;
}

.u_font10 {
    font-size: 10px !important;
}

.u_width34 {
    width: 34%;
}

.header .topPanels .panelRow, .header .menu .panelRow {
    padding: 10px;
}

.u_padL20 {
    padding-left: 20px !important;
}

.u_padR20 {
    padding: 25px !important;
}

.header .topPanels .panelRow .inlineInputs, .header .menu .panelRow .inlineInputs {
    margin: 8px auto;
    text-align: center;
}




.TNCcontent {
    max-width: 800px;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 60px;
}

.TNCpopup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.75);
}

/* Inner */
.TNCpopup-inner {
    max-width: 700px;
    width: 90%;
    max-height: 500px;
    overflow-y: scroll;
    padding: 40px;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0,0,0,1);
    border-radius: 3px;
    background: #fff;
}

h1 {
    font-size: 16px;
    margin: 0px;
    color: #272727;
    text-align: left;
}
/* Close Button */
.TNCpopup-close {
    width: 25px;
    height: 25px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 1000px;
    background: rgba(0,0,0,0.8);
    font-family: Arial, Sans-Serif;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    color: #fff;
}




/* The Modal (background) */
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#Mwallet > ul > li > a {
    float: left;
    padding: 5px;
    color: #000;
    padding: 4px;
    text-align: left;
    width: 100%;
}

s
/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.menussss {
    background-color: #fff;
    width: 249px;
    height: 220px;
    left: -12%;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    top: -3px;
    margin-top: 1px;
    /* top: -18%; */
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
    background-color: #fff;
    z-index: 99999999;
    position: relative;
    display: none;
}




/* Dropdown */
.dropdown {
    display: inline-block;
    position: relative;
}

.dd-button {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
}

    .dd-button:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid black;
    }

    .dd-button:hover {
        background-color: #eeeeee;
    }


.dd-input {
    display: none;
}

.dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
}

.dd-input + .dd-menu {
    display: none;
}

.dd-input:checked + .dd-menu {
    display: block;
    z-index: 99;
}

.dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

    .dd-menu li:hover {
        background-color: #e43658;
        color: #fff;
    }

    .dd-menu li a {
        display: block;
        margin: -10px -20px;
        padding: 10px 20px;
    }

    .dd-menu li.divider {
        padding: 0;
        border-bottom: 1px solid #cccccc;
    }




*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
}



.main-nav {
    width: 90%;
    max-width: 240px;
    margin: 0 auto;
    height: 100%;
    cursor: pointer;
}

    .main-nav ul {
        position: absolute;
        width: 100%;
        top: 40%;
        margin: 0;
        padding: 0;
    }

    .main-nav li {
        list-style: none;
        float: left;
    }

    .main-nav a {
        display: block;
        height: 50px;
        margin: 10px;
        padding: 2px 25px;
        text-decoration: none;
        border-radius: 30px;
        line-height: 45px;
        color: #FFF;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
    }

    .main-nav li:nth-child(1) a {
        background: #d83d3d;
        border: 2px solid #fff;
    }

        .main-nav li:nth-child(1) a:hover {
            background: #fff;
            color: #d83d3d;
        }

    .main-nav li:nth-child(2) a {
        background: #9e2c2c;
        border: 2px solid #9e2c2c;
    }

        .main-nav li:nth-child(2) a:hover {
            background: #b13131;
            border: 2px solid #b13131;
        }

.user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(127, 37, 37, 0.9);
    z-index: 3;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
    -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
    transition: opacity 0.3s 0, visibility 0 0.3s;
}

    .user-modal.is-visible {
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity 0.3s 0, visibility 0 0;
        -moz-transition: opacity 0.3s 0, visibility 0 0;
        transition: opacity 0.3s 0, visibility 0 0;
    }

        .user-modal.is-visible .user-modal-container {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
        }

.user-modal-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

    .user-modal-container .switcher:after {
        content: "";
        display: table;
        clear: both;
    }

    .user-modal-container .switcher li {
        width: 50%;
        float: left;
        text-align: center;
        list-style: none;
    }

        .user-modal-container .switcher li:first-child a {
            border-radius: .25em 0 0 0;
        }

        .user-modal-container .switcher li:last-child a {
            border-radius: 0 .25em 0 0;
        }

    .user-modal-container .switcher a {
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        background: #d2d8d8;
        color: #809191;
        text-decoration: none;
    }

        .user-modal-container .switcher a.selected {
            background: #FFF;
            color: #505260;
        }

@media only screen and (min-width: 600px) {
    .user-modal-container {
        margin: 4em auto;
    }

        .user-modal-container .switcher a {
            height: 70px;
            line-height: 70px;
        }
}

.form {
    padding: 1.4em;
}

    .form .fieldset {
        position: relative;
        margin: 1.4em 0;
    }

        .form .fieldset:first-child {
            margin-top: 0;
        }

        .form .fieldset:last-child {
            margin-bottom: 0;
        }

    .form label {
        font-size: 14px;
        font-size: 0.875rem;
    }

        .form label.image-replace {
            /* replace text with an icon */
            display: inline-block;
            position: absolute;
            left: 15px;
            top: 50%;
            bottom: auto;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            height: 20px;
            width: 20px;
            overflow: hidden;
            text-indent: 100%;
            white-space: nowrap;
            color: transparent;
            text-shadow: none;
            background-repeat: no-repeat;
            background-position: 50% 0;
        }

        .form label.username {
            background-image: url("https://codyhouse.co/demo/login-signup-modal-window/img/cd-icon-username.svg");
        }

        .form label.email {
            background-image: url("https://codyhouse.co/demo/login-signup-modal-window/img/cd-icon-email.svg");
        }

        .form label.password {
            background-image: url("https://codyhouse.co/demo/login-signup-modal-window/img/cd-icon-password.svg");
        }

    .form input {
        margin: 0;
        /*padding: 0;
  border-radius: 0.25em;*/
    }

        .form input.full-width {
            width: 100%;
        }

        .form input.has-padding {
            padding: 12px 20px 12px 50px;
        }

        .form input.has-border {
            border: 1px solid #d2d8d8;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            appearance: none;
        }

            .form input.has-border:focus {
                border-color: #343642;
                box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
                outline: none;
            }

        .form input.has-error {
            border: 1px solid #d76666;
        }

        .form input[type=password] {
            /* space left for the HIDE button */
            padding-right: 65px;
        }

        .form input[type=submit] {
            padding: 16px 0;
            cursor: pointer;
            background: #F64747;
            color: #FFF;
            font-weight: bold;
            border: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            appearance: none;
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -ms-transition: all 0.30s ease-in-out;
            -o-transition: all 0.30s ease-in-out;
        }

            .form input[type=submit]:hover {
                background: #d83d3d;
            }

.no-touch .form input[type=submit]:hover, .no-touch .form input[type=submit]:focus {
    background: #d83d3d;
    outline: none;
}

.form .hide-password {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    font-size: 0.875rem;
    color: #343642;
}

.form .error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    z-index: 2;
    color: #FFF;
    font-size: 13px;
    font-size: 0.8125rem;
    border-radius: 0.25em;
    /* prevent click and touch events */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
    -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
    transition: opacity 0.2s 0, visibility 0 0.2s;
}

    .form .error-message::after {
        /* triangle */
        content: '';
        position: absolute;
        left: 22px;
        bottom: 100%;
        height: 0;
        width: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid rgba(215, 102, 102, 0.9);
    }

    .form .error-message.is-visible {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.2s 0, visibility 0 0;
        -moz-transition: opacity 0.2s 0, visibility 0 0;
        transition: opacity 0.2s 0, visibility 0 0;
    }

@media only screen and (min-width: 600px) {
    .form {
        padding: 2em;
    }

        .form .fieldset {
            margin: 2em 0;
        }

            .form .fieldset:first-child {
                margin-top: 0;
            }

            .form .fieldset:last-child {
                margin-bottom: 0;
            }

        .form input.has-padding {
            padding: 16px 20px 16px 50px;
        }

        .form input[type=submit] {
            padding: 16px 0;
        }
}

.form-message {
    padding: 1.4em 1.4em 0;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .form-message {
        padding: 2em 2em 0;
    }
}

.form-bottom-message {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -40px;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
}

    .form-bottom-message a {
        color: #FFF;
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, .0);
        padding: 0 0 0 2px;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
    }

        .form-bottom-message a:hover {
            animation: borderslide-3px .5s;
            border-bottom: 1px solid rgba(255, 255, 255, 1);
            padding-bottom: 3px;
        }

@keyframes borderslide-3px {
    0% {
        padding-bottom: 1px;
    }

    50% {
        padding-bottom: 3px;
    }
}

@keyframes borderslide-2px {
    0% {
        padding-bottom: 1px;
    }

    50% {
        padding-bottom: 2px;
    }
}

.close-form {
    /* form X button on top right */
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    background: url("../img/icon-close.svg") no-repeat center center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

@media only screen and (min-width: 1170px) {
    .close-form {
        display: none;
    }
}

.accept-terms {
    color: #F64747;
    text-decoration: none;
    padding: 0 1px 1px 2px;
    border-bottom: 1px solid rgba(246, 71, 71, .0);
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

    .accept-terms:hover {
        animation: borderslide-2px .5s;
        padding-bottom: 2px;
        border-bottom: 1px solid rgba(246, 71, 71, 1);
    }

#login, #signup, #reset-password {
    display: none;
}

    #login.is-selected, #signup.is-selected, #reset-password.is-selected {
        display: block;
    }




@media only screen and (min-width: 1000px) {
    .icon-mob

{
    display: none;
}

}

@media only screen and (max-width: 1000px) {
    .left-div {
        display: inline-block;
        max-width: 300px;
        text-align: left;
        /* padding: 30px; */
        background-color: #fff;
        border-radius: 3px;
        /* margin: 15px; */
        vertical-align: top;
    }
}

@media only screen and (max-width: 320px) {

    .left-div {
        display: inline-block !important;
        max-width: 300px !important;
        text-align: left !important;
        /* padding: 30px; */
        background-color: #fff !important;
        border-radius: 3px !important;
        margin: 0 !important;
        vertical-align: top !important;
        position: relative !important;
        left: 144px !important;
        width: 71% !important;
    }
}

@media only screen and (max-width: 375px) {

    .left-div {
        display: inline-block !important;
        max-width: 300px !important;
        text-align: left !important;
        /* padding: 30px; */
        background-color: #fff !important;
        border-radius: 3px !important;
        margin: 0 !important;
        vertical-align: top !important;
        position: relative !important;
        left: 144px !important;
        width: 71% !important;
    }
}


@media only screen and (max-width: 425px) {

    .left-div {
        display: inline-block !important;
        max-width: 100% !important;
        text-align: left !important;
        /* padding: 30px; */
        background-color: #fff !important;
        border-radius: 3px !important;
        margin: 0 !important;
        vertical-align: top !important;
        position: relative !important;
        left: 144px !important;
        width: 84% !important;
    }
}

@media only screen and (max-width: 425px) {
    .right-div {
        display: inline-block;
        max-width: 150px;
        text-align: left;
        padding: 30px;
        background-color: #fff;
        border-radius: 3px;
        margin: 15px;
        position: relative;
        left: 174px;
        top: -58px;
        width: 84%;
        margin-left: 185px !important;
    }

    .sign {
        width: 375px;
    }
}

@media only screen and (max-width: 500px) {
    .top-cont {
        display: none;
    }
}


.topPanels {
    width: 415px;
    display: block;
}


@media only screen and (max-width: 500px) {
    .topPanels {
        /*width: 303px !important;*/
        display: block !important;
        position: relative !important;
        left: -208px !important;
        background: #fff !important;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
    }
}


@media only screen and (max-width: 500px) {
    .topPanels-1 {
        /* width: 100% !important; */
        /* width: 100% !important; */
        display: block !important;
        position: relative !important;
        left: -108px !important;
        background: #ffffff !important;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
        min-width: 414px;
        /* right: 0 !important; */
    }
}

.topPanels-1 {
    width: 400px;
}




.form-modal {
    position: relative;
    width: 450px;
    height: auto;
    /*margin-top:4em;*/
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    /*border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;*/
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.form-modal span {
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
    font-size: 1em;
    z-index: 2;
    outline: none;
    background: #fff;
    transition: 0.2s;
}


.form-modal .login, .form-modal .signup {
    background: #57b846;
    color: #fff;
}

    .form-modal .login:hover, .form-modal .signup:hover {
        background: #222;
    }

.form-toggle {
    position: relative;
    width: 100%;
    height: auto;
}

    .form-toggle span {
        width: 50%;
        float: left;
        padding: 1.5em;
        margin-bottom: 1.5em;
        border: none;
        transition: 0.2s;
        font-size: 1.1em;
        font-weight: bold;
        /*border-top-right-radius: 20px;
    border-top-left-radius: 20px;*/
    }

login-toggle .form-toggle span:nth-child(1) {
    /*border-bottom-right-radius: 20px;*/
}

.form-toggle span:nth-child(2) {
    /*border-bottom-left-radius: 20px;*/
}

#login-toggle {
    background: rgb(238, 49, 87);
    color: #ffff;
}

#login-toggle1 {
    background: rgb(238, 49, 87);
    color: #ffff;
}

.form-modal form {
    position: relative;
    width: 90%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

#login-form, #signup-form {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 5em;
}

#login-form1, #signup-form1 {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 5em;
}

#signup-form {
    display: none;
}

#signup-form1 {
    display: none;
}

#login-form button, #signup-form button {
    width: 100%;
    margin-top: 0.5em;
    padding: 0.6em;
}

#login-form1 button, #signup-form1 button {
    width: 100%;
    margin-top: 0.5em;
    padding: 0.6em;
}


.form-modal input:focus, .form-modal input:active {
    transform: scaleX(1.02);
}

.form-modal input::-webkit-input-placeholder {
    color: #222;
}


.form-modal p {
    font-size: 16px;
    font-weight: bold;
}

    .form-modal p a {
        color: #57b846;
        text-decoration: none;
        transition: 0.2s;
    }

        .form-modal p a:hover {
            color: #222;
        }


.form-modal i {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateX(-10%) translateY(-50%);
}

.fa-google {
    color: #dd4b39;
}

.fa-linkedin {
    color: #3b5998;
}

.fa-windows {
    color: #0072c6;
}

.-box-sd-effect:hover {
    box-shadow: 0 4px 8px hsla(210,2%,84%,.2);
}

@media only screen and (max-width:500px) {
    .form-modal {
        width: 100%;
    }
}

@media only screen and (max-width:400px) {
    i {
        /*display: none!important;*/
    }
}





/* Dropdown */
.dropdown {
    display: inline-block;
    position: relative;
}

.dd-button {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
}

    .dd-button:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid black;
    }

    .dd-button:hover {
        background-color: #eeeeee;
    }


.dd-input {
    display: none;
}

.dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
}

.dd-input + .dd-menu {
    display: none;
}

.dd-input:checked + .dd-menu {
    display: block;
    z-index: 99;
}

.dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

    .dd-menu li:hover {
        background-color: #e43658;
        color: #fff;
    }

    .dd-menu li a {
        display: block;
        margin: -10px -20px;
        padding: 10px 20px;
    }

    .dd-menu li.divider {
        padding: 0;
        border-bottom: 1px solid #cccccc;
    }



