﻿
@media only screen and (max-width: 500px) { 
/*@media (max-width:320px) {*/

    .modifySearch {
        display:none;
    }

    .mainfooter {
        display:none !important
    }


    .fare {
    font-weight: 700;
    font-size: 18px;
    color: #ED1C24;
    display: inline-block;
    vertical-align: initial;
    display: contents !important;
}

    .desk {
        display:none !important;
    }

    .mobile {
        display: block !important;
    }
}


 .mobile {
        display: none;
    }




        .sort-filter {
            height: 40px;
            background-color: #f6f9fc;
            border: 1px solid #d4dee5;
            border-radius: 4px 4px 0px 0px;
            margin-bottom: 5px;
            border-bottom-width: 3px;
            font-size: 12px;
            color: #333;
            padding: 10px 0px 0px 20px;
        }

        .flight-box {
            background-color: #f6f9fc;
            border: 1px solid #d4dee5;
            border-radius: 4px 4px 0px 0px;
            margin-bottom: 5px;
            border-bottom-width: 3px;
            font-size: 11px;
            color: #333;
            padding: 10px 0px 0px 20px;
        }

        .f16 {
            font-size: 18px;
            font-weight: 100;
        }

        .f17 {
            font-weight: 100;
            font-size: 14px;
            color: #a5a5a5;
        }

        .fare {
            font-weight: 700;
            font-size: 18px;
            color: #ED1C24;
            display: inline-block;
            vertical-align: initial;
        }


        .modifySearch {
            height: auto;
            background-color: #344755;
            border-bottom: 1px solid #182732;
        }

@media only screen and (min-width: 600px) {
    .modifySearch-2 {
        display: none;
    }
}
@media only screen and (max-width: 500px) {
    .modifySearh-2 {
        height: auto !important;
        background-color: #344755 !important;
        border-bottom: 1px solid #182732 !important;
        display:block !important;
    }




    .modifySearch-2 .container {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        padding: 5px;
    }
}

            .modifySearch .container .fromTo {
                display: inline-block;
                vertical-align: middle;
                *vertical-align: auto;
                *zoom: 1;
                *display: inline;
                width: 38%;
                border-right: 1px solid #182732;
            }


                .modifySearch .container .fromTo .labl.onw, .modifySearch .container .fromTo .labl.dest {
                    width: 42%;
                }

                .modifySearch .container .fromTo .labl {
                    display: inline-block;
                    vertical-align: middle;
                    *vertical-align: auto;
                    *zoom: 1;
                    *display: inline;
                    padding: 5px;
                }

                    .modifySearch .container .fromTo .labl .city {
                        font-weight: 400;
                        font-size: 13px;
                        color: #ffffff;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }

                    .modifySearch .container .fromTo .labl .airpt {
                        font-weight: 300;
                        font-size: 12px;
                        color: #a4b4c1;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }

                .modifySearch .container .fromTo .labl {
                    display: inline-block;
                    vertical-align: middle;
                    *vertical-align: auto;
                    *zoom: 1;
                    *display: inline;
                    padding: 5px;
                }

                .modifySearch .container .fromTo .flightLogo {
                    width: 13%;
                }

                .modifySearch .container .fromTo .labl .onwFltLogo {
                    font-family: 'icomoon';
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    color: #a4b4c1;
                    padding: 0px 15px;
                }

                .modifySearch .container .fromTo .labl.onw, .modifySearch .container .fromTo .labl.dest {
                    width: 42%;
                }

            .modifySearch .container .datePax {
                display: inline-block;
                vertical-align: middle;
                *vertical-align: auto;
                *zoom: 1;
                *display: inline;
                width: 61%;
                padding-left: 5px;
            }

                .modifySearch .container .datePax .labl {
                    display: inline-block;
                    vertical-align: middle;
                    *vertical-align: auto;
                    *zoom: 1;
                    *display: inline;
                }

            .modifySearch .js-modify-search {
                cursor: pointer;
            }

        .u_width61 {
            width: 61%;
        }

        .modifySearch .container .datePax .labl .dateLabl {
            font-weight: 300;
            font-size: 12px;
            color: #a4b4c1;
            line-height: 2;
        }

        .datePax .labl .dateLabl .calIcon {
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: #a4b4c1;
            margin-right: 5px;
        }

        .modifySearch .container .datePax .labl .dateLabl .dt {
            font-weight: 600;
            font-size: 13px;
            color: #ffffff;
            margin: 0px 8px;
        }

        .modifySearch .container .datePax .labl .paxNums {
            font-weight: 300;
            font-size: 12px;
            color: #a4b4c1;
        }

            .modifySearch .container .datePax .labl .paxNums .num {
                font-weight: 600;
                font-size: 13px;
                color: #ffffff;
                margin: 0px 20px 0px 10px;
            }

        .modifySearch .container .datePax .labl {
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline;
        }

        .u_marL10 {
            margin-left: 10px !important;
        }

        .modifySearch .container .datePax .modify .modifyCTA {
            font-size: 13px;
            padding: 2px 12px;
            border: 1px solid;
            border-color: #12B58A;
            border-radius: 4px;
            color: #12B58A;
            cursor: pointer;
        }

        .fltFilterView {
            margin-left: 10px;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
        }
 




        .dropdown-header{
  color: #000;
}

.checkbox-in-ddl input[type=checkbox]{
  margin-left: 20px;
  margin-right: 4px;
}

        .border {
            border-right: 1px solid #eee;
    height: auto;
        }

        .scroll-container::-webkit-scrollbar {
    background-color:#fff;
    width:16px
}
        .scroll-container::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:5px solid #fff
}

        .scroll-container {
  width: 167px;
  height: 60px;
  overflow: hidden;
}
.scroll-container .fo .fr:after {
  content: " hidden";
}
.scroll-container:hover, .scroll-container:focus {
  overflow-y: auto;
}

   

        

.section-loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 9999999; 
  }

.section-loader::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

  .section-loader .loading {
  position: absolute;
  left:49%;
  top:72%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  }

  .section-loader .msg {
  color: #757575;
  font: 15px/15px Arial, sans-serif;
  letter-spacing: .2px;
  text-align: center
  }

  .section-loader #nlpt {
  animation: a-s .5s 2.5s 1 forwards;
  background-color: #f1f1f1;
  height: 4px;
  margin: 56px auto 20px;
  border-radius: 30px;
  opacity: 0;
  overflow: hidden;
  position: relative;
  width: 300px
  }

  .section-loader #nlpt::before {
  animation: a-lb 20s 3s linear forwards;
  background-color: #c81111;
  content: '';
  display: block;
  border-radius: 30px;
  height: 100%;
  position: absolute;
  transform: translateX(-300px);
  width: 100%
  }

  @keyframes a-lb {
  0% {
      transform: translateX(-300px)
  }
  5% {
      transform: translateX(-240px)
  }
  15% {
      transform: translateX(-30px)
  }
  25% {
      transform: translateX(-30px)
  }
  30% {
      transform: translateX(-20px)
  }
  45% {
      transform: translateX(-20px)
  }
  50% {
      transform: translateX(-15px)
  }
  65% {
      transform: translateX(-15px)
  }
  70% {
      transform: translateX(-10px)
  }
  95% {
      transform: translateX(-10px)
  }
  100% {
      transform: translateX(-5px)
  }
  }

  @keyframes a-s {
  100% {
      opacity: 1
  }
  }

  @keyframes a-h {
  100% {
      opacity: 0
  }
  }

  @keyframes a-nt {
  100% {
      transform: none
  }
  }

  @keyframes a-e {
  43% {
      animation-timing-function: cubic-bezier(.8, 0, .2, 1);
      transform: scale(.75)
  }
  60% {
      animation-timing-function: cubic-bezier(.8, 0, 1, 1);
      transform: translateY(-16px)
  }
  77% {
      animation-timing-function: cubic-bezier(.16, 0, .2, 1);
      transform: none
  }
  89% {
      animation-timing-function: cubic-bezier(.8, 0, 1, 1);
      transform: translateY(-5px)
  }
  100% {
      transform: none
  }
  }

  @keyframes a-ef {
  24% {
      animation-timing-function: cubic-bezier(.8, 0, .6, 1);
      transform: scaleY(.42)
  }
  52% {
      animation-timing-function: cubic-bezier(.63, 0, .2, 1);
      transform: scaleY(.98)
  }
  83% {
      animation-timing-function: cubic-bezier(.8, 0, .84, 1);
      transform: scaleY(.96)
  }
  100% {
      transform: none
  }
  }

  @keyframes a-efs {
  24% {
      animation-timing-function: cubic-bezier(.8, 0, .6, 1);
      opacity: .3
  }
  52% {
      animation-timing-function: cubic-bezier(.63, 0, .2, 1);
      opacity: .03
  }
  83% {
      animation-timing-function: cubic-bezier(.8, 0, .84, 1);
      opacity: .05
  }
  100% {
      opacity: 0
  }
  }

  @keyframes a-es {
  24% {
      animation-timing-function: cubic-bezier(.8, 0, .6, 1);
      transform: rotate(-25deg)
  }
  52% {
      animation-timing-function: cubic-bezier(.63, 0, .2, 1);
      transform: rotate(-42.5deg)
  }
  83% {
      animation-timing-function: cubic-bezier(.8, 0, .84, 1);
      transform: rotate(-42deg)
  }
  100% {
      transform: rotate(-43deg)
  }
  }

  .invfr {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 0;
  height: 0;
  border: 0
  }

  .msgb {
  position: absolute;
  right: 0;
  font-size: 15px;
  font-weight: 800;
  color: #000;
  padding: 10px
  }
    



        .loader1 {
            width: 150px;
            height: 150px;
            line-height: 150px;
            /* margin: 100px auto; */
            position: relative;
            left: 32.5%;
            top: 83px;
            box-sizing: border-box;
            text-align: center;
            z-index: 0;
            text-transform: uppercase;
            color: #fff;
            font-weight: 600;
            font-size: 25px;
        }

            .loader1:before,
            .loader1:after {
                opacity: 0;
                box-sizing: border-box;
                content: "\0020";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 100px;
                border: 5px solid #f00;
                box-shadow: 0 0 50px #ff8080, inset 0 0 50px #fdfdfd;
                color: #fff;
            }

            .loader1:after {
                z-index: 1;
                -webkit-animation: gogoloader 2s infinite 1s;
            }

            .loader1:before {
                z-index: 2;
                -webkit-animation: gogoloader 2s infinite;
            }

        @-webkit-keyframes gogoloader {
            0% {
                -webkit-transform: scale(0);
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                -webkit-transform: scale(1);
                opacity: 0;
            }
        }


